body {
    font-family: Arial, sans-serif;
    background-color: #f0e1d2;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #d2b48c;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

button {
 
    margin-top: 10px;
    display: block;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

input {
    margin-right: 20px;

    width: 100%;
    padding: 10px;

}

.history {
    margin-top: 20px;
}

.history-item {
    margin-bottom: 10px;
}

.input-limit{
    width: 200px;
    height: 0.1px;

    margin-top: 10px;
}

.limit-btn{
    width:  100px;
    height: 45px;

}

.select{
    width: 300px;
    height: 5px;
    border-radius: 10px;
}