html {
    scroll-behavior: smooth;
}


.box{


    width: 100%;
    height: 120px;
    background-color: whitesmoke;

}

.h1-nuteo{

    font-size: 40px;
    text-align: center;
    color: red;
}


.morning-btn{
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;

}

.pizza-btn{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.drink-btn{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}


.desert-btn{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.contact-btn{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.phone-btn{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}

.morning-menu{

padding-bottom: 50px;
    font-size: 60px;
      text-align: center;
    margin-top: 100px;
}

.menu-morning{
    display: flex;
    justify-content: space-between;
}

.img{
    margin-top: 100px;
    width: 100%;
    height: 30%;
}


.menu-slide-1{
    display: flex;

}

.menu-chees{

    margin-left: 20px;
    width: 310px;
    height: 10px;


}



.img-nuteo-1{
    object-fit: cover;
    height: auto;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-1-p{
    font-size: 20px;
    text-align: center;
    color: red;
}

.nuteo-1-money{
    text-align: center;
    font-size: 19px;
}



.img-nuteo-2{
    object-fit: cover;
    margin-left: 60px;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-2-p{
    font-size: 20px;

    color: red;
    text-align: center;

}

.nuteo-2-money{
    text-align: center;
    font-size: 19px;
}


.img-nuteo-3{
    object-fit: cover;
    margin-left: 60px;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-3-p{
    width: 80%;
    font-size: 20px;
    color: red;
    margin-left: 90px;
}


.nuteo-3-money{
    font-size: 19px;
    margin-left: 170px;
}


.img-nuteo-4{
    object-fit: cover;
    margin-left: 50px;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-4-p{

    font-size: 20px;
    width: 60%;
    font-size: 20px;
    color: red;
    margin-left: 90px;
}

.nuteo-4-money{
    font-size: 19px;
    margin-left: 180px;
}

.menu-slide-2{
    display: flex;
    margin-left: 20px;

}


.img-nuteo-5{
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-5-p{
    font-size: 20px;
    width: 60%;
    font-size: 20px;
    color: red;
    margin-left: 90px;
}

.nuteo-5-money{
    font-size: 19px;
    margin-left: 100px;
}


.img-nuteo-6{
    object-fit: cover;
    margin-left: 50px;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}


.img-nuteo-6-p{
    font-size: 20px;
    width: 60%;
    font-size: 20px;
    color: red;
    margin-left: 50px;
}

.nuteo-6-money{
    font-size: 19px;
    margin-left: 150px;
}


.img-nuteo-7{
    display: block;
      margin-right: 220px;
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-7-p{
    font-size: 20px;
    width: 60%;
    font-size: 20px;
    color: red;
    margin-left: 120px;
}
.nuteo-7-money{
    font-size: 19px;
    margin-left: 120px;
}




.img-nuteo-8{
     margin-left: -150px;
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-8-p{
   margin-left: -50px;
    font-size: 20px;
    padding-right: 50px;
    color: red;
}

.nuteo-8-money{
    font-size: 19px;
    margin-left: -45px;
}


.menu-slide-3{
    display: flex;
}


.img-nuteo-9{

    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-9-p{
    font-size: 20px;
   text-align: center;
    color: red;
}

.img-nuteo-9-p-mini{

   font-size: 15px;
    text-align: center;
}

.img-nuteo-9-p-mini-2{
    font-size: 15px;
    text-align: center;
}
.nuteo-9-money{
    text-align: center;
}


.img-nuteo-10{
    margin-left: 30px;
     border: 1px solid black;
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-10-p{

    color: red;
    font-size: 20px;
    text-align: center;
}

.img-nuteo-10-p-mini{
    width: 80%;
    font-size: 15px;
    text-align: center;
}

.nuteo-10-money{

    text-align: center;
}


.img-nuteo-11{
    margin-left: 10px;
    border: 1px solid black;
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-11-p{
    margin-left: 70px;
    font-size: 20px;
    
    color: red;

}
.img-nuteo-11-p-mini{
    font-size: 15px;
    text-align: center;
    width: 80%;
}
.nuteo-11-money{
    text-align: center;
}

.img-nuteo-12{

    margin-left: 0px;
    border: 1px solid black;
    object-fit: cover;
    width: 310px;
    height: 270px;
    border-radius: 25%;
}

.img-nuteo-12-p{
    font-size: 20px;
    color: red;
    text-align: center;

}

.nuteo-12-money{
    text-align: center;
}


@media screen and (max-width: 768px){
    body{
        width: 90%;
        padding: 10px;
    }
}
